<!--
git push -u origin main
git add .
git commit -m "reason"
git push

npx tailwindcss -i src/main/resources/static/css/input.css -o src/main/resources/static/css/output.css --watch
-->

<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Home Page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident autem aperiam ea corrupti repudiandae perferendis dolore. Aliquid dolorum in accusamus fuga eveniet eligendi sint nobis, eius, unde pariatur molestiae nesciunt.</p>
    </div>
    <script>
        console.log("home page")
    </script>
</body>
</html>