<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">
<head>
    <title>Services Page</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to Services Page</h1>
        <h2>Services offered by SCM</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi fugiat sit alias vel illo? Aperiam dignissimos aliquid deserunt eum iste, ratione veniam sunt facilis beatae quia totam cum incidunt molestias?
    </section>

</body>
</html>